<div id="wrapper">
		<div id="news">
			<h1 id="head1">N.Y.C. ADOPT-A-FERRET!</h1>
				<P>	
					Who is this silly sounding organization, one might ask. We were thinking that ourselves, in the midst of developing a project for our web development intensive course at the New York Code + Design Academy. Coffee. We drank a shitload of coffee. It wasn't easy to think of something so uncanny. But ferrets are awesome. So we figured let's have fun and do something silly sounding, but REAL. How original. How light. Refreshing. But yes, this actually exists. See, there was this mayor guy named Guiliani. He loved to talk about how he did something after a tragic global event happened in this amazingly wonderful city. When he wasn't talking about how he did something during then, he was purging and cleansing the city of "unwanteds" - especially ferrets. Some birdbrain came to the conclusion these cute little critters were rabies infested wrotten rat-like rodents. Are they? Obviously not. But sometimes, silly issues get swept under the rug, and a minority of animal lowers get the shaft.
				</P>
				<img src="adopt.jpeg" id="adoptme">
				<p>
					So what's the point of this? Well, to showcase our skills after about four weeks of learning coding. The inspiration here though is the fact that there are some asinine ordinances and laws in New York City. This particular one hurts the little guys. Ferrets need homes too. They don't have rabies, and are pretty awesome. Let's not abandon our little mustelid buddies. Let's speak out against this tyranny, while finding them refuge.
				</p>
			</div>
		</div>
	</body>
</html>
