<h2>WHY ADOPTING A FERET IS SO AWESOME!</h2>
<div id="wrapper">
<p>The ferret (Mustela putorius furo) is the domesticated form of the European polecat, a mammal belonging to the same genus as the weasel, Mustela of the family Mustelidae.[1] They typically have brown, black, white, or mixed fur. They have an average length of 51 cm (20 in) including a 13 cm (5.1 in) tail, weigh about 1.5–4 pounds (0.7–2 kg), and have a natural lifespan of 7 to 10 years.[2] Ferrets are sexually dimorphic predators with males being substantially larger than females.

Several other Mustelids also have the word ferret in their common names, including an endangered species, the black-footed ferret.

The history of the ferret's domestication is uncertain, like that of most other domestic animals, but it is likely that ferrets have been domesticated for at least 2,500 years. They are still used for hunting rabbits in some parts of the world, but increasingly, they are kept only as pets.

Being so closely related to polecats, ferrets easily hybridize with them, and this has occasionally resulted in feral colonies of polecat-ferret hybrids that have caused damage to native fauna, especially in New Zealand.[3] As a result, some parts of the world have imposed restrictions on the keeping of ferrets.</p>
</div>

<h2>WHY GIULIANI IS NOT AWESOME!</h2>

<p id="wrapper">Giuliani vetoed a bill legalizing the ownership of ferrets as pets in the city, saying that it was akin to legalizing tigers. He sent a memorandum, "Talking Points Against the Legalization of Ferrets," to City Council members saying that ferrets should be banned just as pythons and lions are in the city. Councilman A. Gifford Miller said afterwards that Giuliani's "administration has gone out of its way to invent a ridiculous policy." The editor of Modern Ferret magazine testified that ferrets are domesticated animals that do not live in the wild and whose natural habitat is within people's homes. She argued that no case of ferrets transferring rabies to humans had ever occurred and that the legalization bill would require ferrets to be vaccinated against rabies as dogs are. She later wrote that at the public hearings proposing to ban ferrets, no citizen or veterinarian spoke against ferrets, only representatives from the Department of Health, City Council, and Mayor Giuliani himself.</p>

<img id="point" src="rudypointing.jpg">
<img id="hat"src="painterhat2.jpg">

