			<div id="wrapper">
				<div id="news">
					<h1 id="head1">N.Y.C. ADOPT-A-FERRET!</h1>
					<p>We're a ferret focused pet startup that wants to make sure that these critters find a good home since ex-Mayor Guliani banned as pets. Ferrets are awesome pets: they're walkable, compact, cute, and rabies-free!</p>
					<br>
					<hr>
					<h3>NEWS & EVENTS</h3>
					<p>This is great news about how we are finding homes for the banned ferrets of New York City. These poor dudes are not allowed to be owned as pets, so we're helping them out! Check here to see what we are doing to save them from Guliani and other nutjobs!</p>
				<ul>
					<li><a href="">Meet a Ferret Event - Dec. 22</a></li>
					<li><a href="">Ferrets on Ice! - Jan 16</a></li>
				</ul>
			</div>
			<!-- <div><img="">This image</div> -->