			<div id="wrapper">
				<div id="news">
					<h1>NEWS & EVENTS</h1>
					<br>
					<p>This is great news about how we are finding homes for the banned ferrets of New York City. These poor dudes are not allowed to owned as pets, so we're helping them out! Check here for what we are doing to save them from Guliani and other nutjobs!</p>
				<br>
				<ul>
					<li><a href="">Meet a Ferret Event - Dec. 22</a></li>
					<li><a href="">Ferrets on Ice! - Jan 16</a></li>
				</ul>
			</div>
			<div><img="">This image</div>
			</div>