<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="styles.css">
			<title>NYC ADOPT-A-FERRET</title>
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/home">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/adopt">ADOPT</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</nav>
			<img id="bckgrd">
			<%= yield %>
		</body>
</html>