<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="styles.css"/>
			<title>NYC ADOPT-A-FERRET</title>
		</head>
		<body id="dabod">
			<nav>
				<ul>
					<li>HOME</li>
					<li>ABOUT</li>
					<li>ADOPT</li>
					<li>CONTACT</li>
				</ul>
			</nav>
			<%= yield %>
			</div>
		<footer id="footer"><p>Copyright Ferret Farmhouse 2015, LLC. INC. CORP.</p><br>
		<p>John L. & Mike P. Production</p>
		</footer>
		</body>
</html>