<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="public/styles.css">
			<title>NYC ADOPT-A-FERRET</title>
		</head>
		<body>
			<nav>
				<ul>
					<li>HOME</li>
					<li>ABOUT</li>
					<li>ADOPT</li>
					<li>CONTACT</li>
				</ul>
			</nav>
			<img id="bckgrd" src="public/ferrets1.jpeg">
			<%= yield %>
		</body>
</html>