<!DOCTYPE html>
	<html>
		<head>
			<title>NYC ADOPT-A-FERRET</title>
			<link rel="stylesheet" type="text/css" href="styles.css">
			<script type="text/javascript" src="script.js"></script>
			
		</head>
		<body id="dabod">
			<nav>
				<ul>
					<li><a href="/home">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/adopt">ADOPT</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</nav>

			<%= yield %>
			</div>
		<footer id="footer"><p>Copyright Ferret Farmhouse 2015, LLC. INC. CORP.</p><br>
		<p>John L. & Mike P. Production</p>
		</footer>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		</body>
</html>